.like-icon {
  inline-size: 39px;
  block-size: 36px;
  overflow: visible;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--contour-color, #000);
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--contour-color, #000);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in 1;
}

@keyframes heart-scale {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  to {
    transform: scale(1);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
